.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20px;
}
.card {
  margin-bottom: 10px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: rgb(26, 24, 24);
  text-align: center;
  height: 40px;
}

.btn {
  height: fit-content;
}
