.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.card {
  width: 18rem;
  margin-bottom: 10px;
  box-shadow: 5px;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05);
}
.card,
.card-img-top {
  transition: 0.3s;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container {
  margin: 0;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(236, 221, 221);
  color: rgb(26, 24, 24);
  text-align: center;
  height: 75px;
}

.btn {
  height: fit-content;
}
.container {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 2fr;
  }
}

@media only screen and (max-width: 450px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .card {
    width: 80%;
  }
  p {
    width: 70%;
  }
}
